@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body {
    margin: 15px 30px 0px 30px;
    overflow: hidden;
}

/* ----------- STATIC BACKGROUND ----------- */

.pattern-bg {
    position: fixed;
    z-index: -2;
    right: 30px;
}

.curve-bg {
    position: fixed;
    z-index: -2;
    left: 0;
    bottom: 0;
}

.quote-bg {
    position: fixed;
    z-index: -2;
    left: 300px;
    top: 130px;
}

.attribution {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width: 1140px) {
    .pattern-bg {
        width: 90%;
        height: auto;
    }
    
    .curve-bg {
        max-width: 80%;
        height: auto;
    }
    
    .quote-bg {
        top: 60%;
        left: 50%;
        margin-top: -60px; /* Negative half of height. */
        margin-left: -50px; /* Negative half of width. */
    }

    .attribution {
        position: fixed;
        text-align: center;
        right: unset;
        bottom: 10px;
    }
}

/* ----------- TESTIMONIAL SLIDE ----------- */

.headshot img {
    margin: 70px 140px 110px -80px;
    float: right;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 20px 15px hsla(240, 18%, 77%, .5);
    border-radius: 5px;
}

.quote {
    font-family: 'Inter', sans-serif; 
    padding: 200px 0 0 170px;
    z-index: 10;
}

.quote-body {
   font-weight: 300;
    font-size: 32px;
    color: hsl(240, 38%, 20%);
    margin-bottom: 25px;
}

.quote-name {
    font-weight: 700;
    font-size: 18px;
    color: hsl(240, 38%, 20%);
    float: left;
    margin-right: 10px;
}

.quote-tag {
    font-weight: 500;
    font-size: 18px;
    color: hsl(240, 18%, 77%);
    display: inline-block;
}

@media screen and (max-width: 750px) {
    .headshot img {
        display: block;
        padding-top: 25px;
        margin: 0 auto;
        float: none;
        width: 275px;
        height: auto;
    }
}

@media screen and (min-width: 750px) and (max-width: 1140px) {
    .headshot img {
        display: block;
        padding-top: 25px;
        margin: 0 auto;
        float: none;
        width: 375px;
        height: auto;
    }
}

@media screen and (max-width: 1140px) {

    .quote {
        margin: 0 auto;
        padding: 0;
    }

    .quote-body {
        font-size: 1.2em;
        width: 85%;
        text-align: center;
        padding: 75px 0 15px 0;
        margin: 0 auto;
    }

    .quote-name {
        float: none;
        text-align: center;
        margin: 0;
    }

    .quote-tag {
        text-align: center;
        display: block;
        margin: 0;

    }
}

/* ----------- ARROW BUTTONS ----------- */

.carousel-buttons {
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    bottom: 75px;
    display: flex;
  }
  
  .btn {
    border: none;
    height: 40px;
    width: 40px;
    background-color: white;
  }
   
  .btn:focus {
    outline: none;
  }
  
  #carousel-button-prev {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  #carousel-button-next {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  @media screen and (min-width: 750px) and (max-width: 1140px) {
    .carousel-buttons {
        position: absolute;
        left: 50%;
        top: 395px;
      }
  }

  @media screen and (max-width: 750px) {
    .carousel-buttons {
        position: absolute;
        left: 50%;
        top: 300px;
      }
  }

/* ----------- CAROUSEL SLIDER ----------- */

.carousel .carousel-item,
.carousel .carousel-item--hidden {
    display: none;
}

.carousel .carousel-item--visible {
    display: block;
}
